main {
  background-color: #faf7ff;
}

.main-sec strong {
  color: #5e17eb;
}

.limite {
  width: 85%;
  margin: auto;
  /* padding-right: 100px;
  padding-left: 100px; */
}

/* estilizando o main */
.conteudo {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* margin-bottom: 30px; */
}

.main-sec .cargo {
  margin-top: 100px;
  color: #5e17eb;
  font-size: 14px;
  text-transform: uppercase;
}

.main-sec h1 {
  margin-top: -5px;
  margin-bottom: 25px;
  font-size: 55px;
  color: #290967;
  font-family: poppins;
  font-weight: 700;
}

.main-sec p {
  font-size: 17px;
  color: #34107b;
  width: 500px;
  /* padding: 15px 0 20px 0; */
}

.botao {
  background-color: #5e17eb;
  color: #edd2fb;
  font-size: 22px;
  padding: 10px 50px;
  display: inline-block;
  margin-top: 40px;
}

/* Estilização de imagem */
.image img {
  width: 500px;
}

@media(max-width: 850px) {
  .limite {
    width: 90%;
  }

  .conteudo {
    padding-top: 25px;
  }

  .image img {
    width: 300px;
  }

  .main-sec .cargo {
    font-size: 11px;
    margin-top: 0;
  }

  .main-sec h1 {
    font-size: 35px;
  }

  .main-sec p {
    font-size: 14px;
    width: 400px;
  }
}

@media(max-width: 790px) {
  .main-sec h1 {
    font-size: 33px;
  }
}

@media(max-width: 420px) {
  .conteudo {
    flex-direction: column;
    padding-bottom: 50px;
  }

  .main-sec h1 {
    font-size: 30px;
    padding: 0;
    margin-bottom: 15px
  }

  .main-sec p {
    font-size: 14px;
    padding: 0;
    width: 330px;
  }

  .links a {
    font-size: 18px;
    padding: 0 20px 0 0;
  }

  .image img {
    display: none;
  }

}

@media(max-width: 380px) {
  .main-sec h1 {
    font-size: 28px;
  }
}

@media(max-width: 365px) {
  .main-sec h1 {
    font-size: 26px;
  }

  .main-sec p {
    font-size: 13px;
  }
}