.skill-head h1 {
  text-align: center;
  font-size: 2.8em;
  padding: 25px;
  letter-spacing: 1.5px;
  font-family: 'Righteous', cursive;
}

.skill-body {
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tool {
  position: relative;
  display: inline-block;

}

.tool .tool-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #FFF;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  position: absolute;
  z-index: 1;
}

.tool:hover .tool-text {
  visibility: visible;
}