.skill-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.tool {
  margin: 40px 0;
  position: relative;
  display: inline-block;
}

.tool img {
  width: 200px;
}

.tool .tool-text {
  visibility: hidden;
  width: 120px;
  background-color: #290967;
  color: #FFF;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  color: #e4D2FB;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  position: absolute;
  z-index: 1;
}

.tool:hover .tool-text {
  visibility: visible;
}