* {
  margin: 0;
  padding: 0;
}



header {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 0 0 0 90px;
  width: 110px;
}

.logo img {
  max-width: 100%;
}

.hamburguer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
}

.menu {
  display: none;
  width: 220px;
  background-color: #5f15ed;
  position: absolute;
  right: 80px;
  top: 100px;
  border-radius: 20px;
}

.block {
  display: block;
}

.menu ul {
  display: flex;
  /* margin-top: 30px; */
  flex-direction: column;
}

.menu ul li {
  padding: 20px;
}

.menu a {
  text-decoration: none;
  font-size: 25px;
  color: #FFF;
}

@media(max-width: 500px) {
  .logo {
    width: 100px;
    margin: 0 0 0 20px;
  }

  .hamburguer {
    margin-right: 20px;
  }

  .menu {
    right: 20px;
  }
}