* {
  margin: 0;
  padding: 0;
}

p,
a,
h1,
h2 {
  font-family: Poppins;
  text-decoration: none;
}

header {
  background-color: #faf7ff;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 20px 0 20px 90px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px;
  max-width: 100%;
  margin-right: 10px;
}

.logo p {
  font-size: 25px;
  color: #1d0351;
  text-transform: uppercase;
  font-weight: 500;
}

/* .hamburguer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
} */

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
  margin-right: 90px;
}

.menu li {
  padding: 20px;
  list-style: none;
  font-size: 23px;
}



.menu a {
  color: #1d0351;
  text-transform: uppercase;
  transition: 100ms linear;
  /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */

}

.menu a:hover {
  border-bottom: 2px solid #5f15ed;
}

/* 
.menu {
  width: 220px;
  background-color: #5f15ed;
  position: absolute;
  right: 80px;
  top: 100px;
  border-radius: 20px;
} */

/* .block {
  display: block;
} */

@media(max-width: 500px) {
  .logo {
    width: 100px;
    margin: 0 0 0 20px;
  }

  .hamburguer {
    margin-right: 20px;
  }

  .menu {
    right: 20px;
  }
}