footer {
  color: #e4d2fb;
  height: 70px;
  background-color: #5e17eb;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}

footer a {
  color: #290967;
  text-transform: uppercase;
}