.bg {
  background-color: #faf7ff;
}

.sec-tittle {
  display: flex;
  justify-content: center;
}

.sec-tittle h2 {
  margin-left: 15px;
  font-size: 47px;
  color: #290967;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sobre-content {
  display: flex;
  justify-content: space-between;
}

.sobre-img img {
  width: 300px;
}

.sobre-img a {
  padding: 15px 90px;
  margin-bottom: 25px;
}

.sobre-info--historia {
  width: 60%;
  font-family: Poppins;
  margin-top: 25px;
}

.sobre-info--historia h4 {
  margin-bottom: 10px;
  font-size: 25px;
  color: #120035;
}

.sobre-info--historia {
  font-size: 18px;
  font-weight: 400;
  color: #4d2d8b;
}


@media(max-width: 500px) {
  .sobre-content {
    flex-direction: column;
  }

  .sobre-img {
    width: 100%;
    text-align: center;
  }

  .sobre-info--historia {
    width: 100%;
    margin: 0;
    font-size: 20px;
  }
}