.bg {
  background-color: #faf7ff;
}

.sec-tittle {
  display: flex;
  justify-content: center;
}

.sec-tittle h2 {
  margin-left: 15px;
  font-size: 47px;
  color: #290967;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sobre-content {
  display: flex;
  justify-content: space-between;
}

.sobre-img img {
  width: 300px;
}

.sobre-img a {
  padding: 15px 90px;
  margin-bottom: 25px;
}

.sobre-info--historia {
  width: 60%;
  font-family: Poppins;
  margin-top: 25px;
}

.sobre-info--historia h4 {
  margin-bottom: 10px;
  font-size: 25px;
  color: #120035;
}

.sobre-info--historia {
  font-size: 18px;
  font-weight: 400;
  color: #4d2d8b;
}

@media(max-width: 850px) {
  .sec-tittle h2 {
    margin-left: 10px;
    font-size: 30px;
  }

  .sec-tittle img {
    width: 20px;
  }

  .sobre-content {
    margin-top: 10px;
  }

  .sobre-img img {
    width: 200px;
  }

  .sobre-img a {
    padding: 10px 50px;
  }

  .sobre-info--historia {
    width: 100%;
    margin-top: 15px;
  }

  .sobre-info--historia h4 {
    font-size: 20px;
  }

  .sobre-info--historia p {
    font-size: 14px;
  }

  .botao {
    margin-top: 25px;
  }
}

@media(max-width: 500px) {
  .sobre-content {
    flex-direction: column;
  }

  .sobre-img {
    width: 100%;
    text-align: center;
  }

  .sobre-info--historia {
    width: 100%;
    margin: 0;
    font-size: 20px;
  }
}